.item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 30px;
    user-select: none;
    
}

.on-item {
    display: flex;
    flex-grow: 2;
    cursor: pointer;
}

.del {
    background-color: crimson;
    color: darkgreen;
    margin-right: 5px;
    cursor: pointer;
}

.imp {
    background-color: darkgreen;
    color: darkred;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.important {
    color: tomato;
    font-weight:bold;
}